{% extends 'base.html' %}

{% block content %}
<h2>毎日の記録</h2>
<div class="page-description">
   <p class="lead">　　　日頃の細かな行動や心情は健康に大きく関与します　記録をつけておくことで体調変化をより管理していきましょう</p>
</div>
{% if record_date %}
<form method="post" action="{% url 'manage_health_record' year=record_date.year month=record_date.month day=record_date.day %}">

    {% csrf_token %}
    <div>
        <label for="{{ form.sleep_hours.id_for_label }}">睡眠時間:</label>
        {{ form.sleep_hours }}
    </div>
       
    <div>
    <label for="{{ form.physical_condition.id_for_label }}">体調:</label>
    {{ form.physical_condition }}
    <span class="scale-description">悪い←１ーーー５→良い</span>
    </div>

    <div>
    <label for="{{ form.stress_level.id_for_label }}">ストレス度合い:</label>
    {{ form.stress_level }}
    <span class="scale-description">悪い←１ーーー５→良い</span>
    </div>

    <div>
    <label for="{{ form.hydration_amount.id_for_label }}">水分摂取量:</label>
    {{ form.hydration_amount }} ml
    <span class="hydration-note">★１日の水分摂取量は2000mlを目安にしましょう</span>
    </div>

<p class="lead">　🍽食事内容🍽</p>

    <!-- 朝食内容 -->
    <div class="form-item">
    <label for="{{ form.breakfast_content.id_for_label }}">朝食:</label>
    {{ form.breakfast_content }}
    </div>

    <!-- 昼食内容 -->
    <div class="form-item">
    <label for="{{ form.lunch_content.id_for_label }}">昼食:</label>
    {{ form.lunch_content }}
    </div>

    <!-- 夕食内容 -->
    <div class="form-item">
    <label for="{{ form.dinner_content.id_for_label }}">夕食:</label>
    {{ form.dinner_content }}
    </div>

    <!-- その他の食事内容 -->
    <div class="form-item">
    <label for="{{ form.other_meal_content.id_for_label }}">その他:</label>
    {{ form.other_meal_content }}
    </div>

    <div class="form-item">
    <label for="{{ form.training_content.id_for_label }}">トレーニング内容:</label>
    {{ form.training_content }}
    </div>

    <button type="submit">保存</button>
</form>

{% endif %}
{% endblock %}
